{{!-- Por cada producto, imprime cada atributo que se pide abajo --}}
{{#each products}}
<div>
    <p>id:{{id}}</p>
    <p>title:{{title}}</p>
    <p>description:{{description}}</p>
    <p>price:{{price}}</p>
    <p>thumbnail:{{thumbnail}}</p>
    <p>code:{{code}}</p>
    <p>stock:{{stock}}</p>
    <p>categories:{{categories}}</p>
    <p>status:{{status}}</p>
</div>
{{/each}}