{{!-- Por cada producto, imprime cada atributo que se pide abajo --}}
{{#each infoProducts.payload}}
    <div class="carta-flex">
        <div class="card" style="width: 18rem;">
            <div class="contenedor-img">
                <a href="/products/:pid?id={{_id}}" target="_blank" class="links-img"><img src="{{thumbnail}}" class="imagenes" alt="foto {{title}}"></a>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">${{price}}</h6>
                <p class="card-text">{{description}}</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Codigo: {{code}}</li>
                    <li class="list-group-item">EN STOCK</li>
                    <li class="list-group-item">{{categories}}</li>
                </ul>
                <div class="d-flex justify-content-center m-2">
                    <a href="/products/:pid?id={{_id}}" class="btn btn-primary">Ver producto</a>
                </div>
                <div class="d-flex justify-content-center m-1">
                    <button type="submit" onclick="addProdToCart('{{_id}}')" class="btn btn-success">
                        Agregar al Carrito <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                            </svg>
                        </button>
                </div>
            </div>
        </div>
    </div>
{{/each}}