{{!-- Por cada producto, imprime cada atributo que se pide abajo --}}
{{#each infoProducts.payload}}
    <div class="col">
        <div class="card" style="width: 18rem;">
            <a href="/products/:pid?id={{_id}}" target="_blank"><img src="{{thumbnail}}" class="card-img-top" alt="foto {{title}}"></a>
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">${{price}}</h6>
                <p class="card-text">{{description}}</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Codigo:{{code}}</li>
                    <li class="list-group-item">EN STOCK</li>
                    <li class="list-group-item">{{categories}}</li>
                </ul>
                <a href="/products/:pid?id={{_id}}" class="btn btn-primary">Ver producto</a>
                <button type="submit" onclick="addProdToCart('{{_id}}')" class="btn btn-success">Agregar al Carrito</button>
            </div>
        </div>
    </div>
{{/each}}