<div>
    <img src="{{thumbnail}}" alt="foto {{title}}">
</div>
<p>{{title}}</p>
<p>${{price}}</p>
<p>{{description}}</p>
<p>Categoria: {{categories}}</p>
{{log }}
{{!-- <form action="/{{cid}}/product/{{id}}" method="POST">
    <button type="submit" class="btn btn-success">Agregar al Carrito</button>
</form> --}}
<button type="submit" onclick="addProdToCart('{{id}}')" class="btn btn-success">Agregar al Carrito</button>